body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:100vw;
    height: 100vh;
}
.Calculator .btn{
    height:50px;
    width:50px;
    margin:15px;
    font-size: 30px;
}
