body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:100vw;
    height: 100vh;
}
.Calculator .btn{
    height:50px;
    width:50px;
    margin:15px;
    font-size: 30px;
}
.Calculator .number,
.Calculator .operator,
.Calculator .equal,
.Calculator .decimal,
.Calculator .clear {
    border: 1px solid green;
    border-radius: 10px;
}
.Calculator .btn:hover {
    background-color: red;
}
.first-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.screen{
    width:233px;
    height:50px;
    border:1px solid red;
    margin-left:20px;
    margin-top:14px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}